body {
  font-family: Arial;
  height: 100%;
  margin: 0;
}

.header {
  padding: 5px;
  text-align: center;
  background: #090cda;
  color: white;
}

.row {  
  display: flex;
}

#box {
  background-color: #f1f1f1;
  padding: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 25px;
}

#selected{
  border: 5px solid;
  border-color: #d10808;
}

@media screen and (max-width: 700px) {
  .row{   
    flex-direction: column;
  }
}